<v-app>
    <div v-resize="resize" style="user-select: none; touch-action: none;">
        <setting v-on:order="order"></setting>
        <viewport ref="viewport"></viewport>
        <v-btn :ripple="false" :style="{height:size+'px', 'margin-left': width / 2 - Math.min(size*4, width/2 - size/4) + 'px'}" color="primary" fixed left style="user-select: none; margin: 0%; padding: 0%;"
               text
               top>
            <div :style="{'font-size':(size * 0.5)+'px'}">{{ score }}</div>
        </v-btn>
        <v-btn v-show="key.length > 0" :ripple="false" :style="{height:size+'px', 'margin-bottom': size * 1.5 + 'px'}" block bottom disabled
               fixed style="user-select: none; margin: 0%; padding: 0%;" text>
            <div :style="{'font-size':(size * 0.5)+'px'}">{{ key }}</div>
        </v-btn>
        <v-container :style="{width:Math.min(size * 8, width) + 'px', height:size * 1.5 + 'px'}" fluid grid-list-md
                     style="padding: 0%; touch-action: none;"
                     text-xs-center>
            <v-layout row wrap>
                <v-flex :style="{'padding-left': size / 4 + 'px','padding-right': size / 4 + 'px'}" style="display: flex;"
                        xs12>
                    <v-btn :ripple="false" :style="style" text @click="tap('scramble')">
                        <v-icon :size="size * 0.8">casino</v-icon>
                    </v-btn>
                    <v-btn :ripple="false" :style="style" text @click="tap('history')">
                        <v-icon :size="size * 0.8">assignment</v-icon>
                    </v-btn>
                    <v-btn :disabled="world.cube.history.length == 0" :ripple="false" :style="style" text
                           @click="tap('undo')">
                        <v-icon :size="size * 0.8">backspace</v-icon>
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
        <v-dialog v-model="scrambled" :width="Math.min(size * 8, width)">
            <v-card>
                <v-card-title style="text-transform: none;">
                    <div :style="{'font-size':size * 0.4+'px','padding-top':size/8+'px'}">
                        重新打乱?
                    </div>
                </v-card-title>
                <v-card-text style="text-transform: none; padding-bottom: 0%;">
                    <v-textarea v-model="data.scrambler" :style="{'font-size':size / 3 + 'px', 'line-height':size / 2 + 'px'}" auto-grow
                                flat hide-details
                                outlined rows="1" solo>
                    </v-textarea>
                </v-card-text>
                <v-card-actions>
                    <v-layout row style="margin: 0%;" wrap>
                        <v-flex d-flex xs6>
                            <v-btn :height="size * 0.8" block color="error" text @click="scrambled = false;scramble();">
                                <div :style="{'font-size':size/3+'px'}">确定</div>
                            </v-btn>
                        </v-flex>
                        <v-flex d-flex xs6>
                            <v-btn :height="size * 0.8" block text @click="scrambled = false">
                                <div :style="{'font-size':size/3+'px'}">取消</div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="completed" :width="Math.min(size * 8, width)">
            <v-card>
                <v-card-title style="text-transform: none;">
                    <div :style="{'font-size':size * 0.4+'px','padding-top':size/8+'px'}">
                        复原成功!
                    </div>
                </v-card-title>
                <v-card-actions>
                    <v-layout row style="margin: 0%;" wrap>
                        <v-flex d-flex xs6>
                            <v-btn :height="size * 0.8" block text @click="completed = false;">
                                <div :style="{'font-size':size/3+'px'}">确定</div>
                            </v-btn>
                        </v-flex>
                        <v-flex d-flex xs6>
                            <v-btn :height="size * 0.8" block color="error" text
                                   @click="completed = false;tap('share');tap('open');">
                                <div :style="{'font-size':size/3+'px'}">复盘</div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="historyd" :width="Math.min(size * 8, width)">
            <v-card>
                <v-card-title style="text-transform: none;">
                    <div :style="{'font-size':size * 0.4+'px'}">
                        打乱:
                    </div>
                </v-card-title>
                <v-card-text style="text-transform: none; padding-bottom: 0%;">
                    <v-textarea v-model="data.scene" :style="{'font-size':size / 3 + 'px', 'line-height':size / 2 + 'px'}" flat
                                hide-details no-resize
                                outlined readonly rows="4" solo>
                    </v-textarea>
                </v-card-text>
                <v-card-title style="text-transform: none;">
                    <div :style="{'font-size':size * 0.4+'px'}">
                        复原:
                    </div>
                </v-card-title>
                <v-card-text style="text-transform: none;">
                    <v-flex v-show="world.order==3" style="display: flex;" xs12>
                        <v-btn :height="size * 0.8" color="success" depressed style="flex: 1;" @click="adjust();">
                            <div :style="{'font-size':size/3+'px'}">整理</div>
                        </v-btn>
                        <v-btn :height="size * 0.8" color="error" depressed style="flex: 1;" @click="niss();">
                            <div :style="{'font-size':size/3+'px'}">NISS</div>
                        </v-btn>
                    </v-flex>
                    <v-textarea v-model="data.history" :style="{'font-size':size / 3 + 'px', 'line-height':size / 2 + 'px'}" flat
                                hide-details no-resize
                                outlined readonly rows="6" solo>
                    </v-textarea>
                </v-card-text>
                <v-card-actions>
                    <v-layout row style="margin: 0%;" wrap>
                        <v-flex style="display: flex;" xs12>
                            <v-btn :height="size * 0.8" style="flex: 1;" text @click="historyd = false;">
                                <div :style="{'font-size':size/3+'px'}">确定</div>
                            </v-btn>
                            <v-btn :height="size * 0.8" style="flex: 1;" text @click="historyd = false;tap('share');">
                                <div :style="{'font-size':size/3+'px'}">分享</div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="shared" :width="Math.min(size * 8, width)" eager>
            <v-card>
                <v-card-title style="text-transform: none;">
                    <div :style="{'font-size':size * 0.4+'px','padding-top':size/8+'px'}">
                        分享链接:
                    </div>
                </v-card-title>
                <v-card-actions>
                    <v-layout row style="margin: 0%;" wrap>
                        <v-flex d-flex xs12>
                            <v-textarea id="link" v-model="link"
                                        :style="{'font-size':size / 3 + 'px', 'line-height':size / 2 + 'px'}" flat
                                        hide-details outlined solo>
                            </v-textarea>
                        </v-flex>
                        <v-flex d-flex xs6>
                            <v-btn :height="size * 0.8" block text @click="tap('open')">
                                <div :style="{'font-size':size/3+'px'}">打开</div>
                            </v-btn>
                        </v-flex>
                        <v-flex d-flex xs6>
                            <v-btn ref="copy" :height="size * 0.8" block data-clipboard-target="#link"
                                   text @click="shared = false;">
                                <div :style="{'font-size':size/3+'px'}">复制</div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</v-app>