<v-bottom-sheet v-model="show" v-resize="resize" overlay-opacity="0">
    <v-card style="margin: auto; touch-action: none; user-select: none;" text>
        <v-container :style="{width:Math.min(width, height * 0.6) + 'px'}" fluid grid-list-md text-xs-center>
            <v-layout align-center justify-center row wrap>
                <v-slider v-model="preferance.scale" always-dirty dense label="缩放" max="100" min="0"
                          thumb-label="always">
                </v-slider>
            </v-layout>
            <v-layout align-center justify-center row wrap>
                <v-slider v-model="preferance.perspective" always-dirty dense label="透视" max="100" min="0"
                          thumb-label="always">
                </v-slider>
            </v-layout>
            <v-layout align-center justify-center row wrap>
                <v-slider v-model="preferance.angle" always-dirty dense label="左右" max="100" min="0"
                          thumb-label="always">
                </v-slider>
            </v-layout>
            <v-layout align-center justify-center row wrap>
                <v-slider v-model="preferance.gradient" always-dirty dense label="上下" max="100" min="0"
                          thumb-label="always">
                </v-slider>
            </v-layout>
        </v-container>
    </v-card>
</v-bottom-sheet>