<v-app>
    <div v-resize="resize" style="user-select: none; touch-action: none;">
        <setting v-on:order="order"></setting>
        <viewport ref="viewport"></viewport>
        <v-container v-show="!colord" :style="{width:Math.min(size * 8, width) + 'px', height:size * 3.6 + 32 + 'px'}" fluid grid-list-md
                     style="padding: 0%; touch-action: none;"
                     text-xs-center>
            <v-layout row wrap>
                <v-flex :style="{'padding-left': size / 4 + 'px','padding-right': size / 4 + 'px','padding-bottom': size / 8 + 'px'}" style="display: flex;"
                        xs12>
                    <v-btn :disabled="recording" :ripple="false" :style="style" text @click="tap('color')">
                        <v-icon :size="size * 0.8">colorize</v-icon>
                    </v-btn>
                    <v-btn :disabled="recording" :ripple="false" :style="style" text @click="tap('output')">
                        <v-icon :size="size * 0.8">iso</v-icon>
                    </v-btn>
                    <v-btn :disabled="recording" :ripple="false" :style="style" text @click="tap('snap')">
                        <v-icon :size="size * 0.8">camera_alt</v-icon>
                    </v-btn>
                    <v-btn :ripple="false" :style="style" text @click="tap('film')">
                        <v-icon :size="size * 0.8">{{ recording ? 'stop' : 'movie' }}</v-icon>
                    </v-btn>
                    <v-btn :disabled="recording" :ripple="false" :style="style" text @click="tap('share')">
                        <v-icon :size="size * 0.8">share</v-icon>
                    </v-btn>
                </v-flex>
                <v-flex xs12>
                    <v-text-field v-model="action" :disabled="recording"
                                  :height="size * 0.8"
                                  :style="{'padding-left': size / 4 + 'px','padding-right': size / 4 + 'px', 'margin-top':size/8 + 'px', 'font-size':size*0.4+'px'}" dense hide-details outlined single-line style="text-transform: none;">
                        <v-btn slot="label" :style="{width:size * 0.4+'px',height:size * 0.8+'px'}" style="margin: 0%; padding: 0%; min-width: 0%; min-height: 0%;"
                               tabindex="-1"
                               text>
                            <v-icon :size="size * 0.4" style="vertical-align: middle;">theaters</v-icon>
                        </v-btn>
                        <v-btn slot="append" :disabled="recording" :style="{width:size * 0.4 + 'px',height:size * 0.8+'px'}"
                               style="margin: 0%; padding: 0%; min-width: 0%; min-height: 0%;"
                               tabindex="-1" text
                               @click="scriptd=true">
                            <v-icon :size="size * 0.4">edit</v-icon>
                        </v-btn>
                    </v-text-field>
                </v-flex>
            </v-layout>
            <playbar ref="playbar" :disable="recording"></playbar>
        </v-container>
        <v-bottom-sheet v-model="outputd">
            <v-card flat style="margin: auto; touch-action: none; user-select: none;">
                <v-container :style="{width:Math.min(size * 8, width) + 'px'}" fluid grid-list-md text-xs-center>
                    <v-layout :style="{'padding-top':size * 0.2 + 'px'}" align-center justify-center row wrap>
                        <v-flex xs2>
                            <div :style="{'font-size':size * 0.3+'px'}">像素:</div>
                        </v-flex>
                        <v-flex style="display: flex;" xs10>
                            <v-btn v-for="i in [128, 256, 512, 1024, 2048]" :key="i" :color="data.pixel == i?'primary':''"
                                   :height="size * 0.8" :style="{'font-size':size * 0.3+'px'}"
                                   depressed
                                   style="text-transform: none; min-width: 0%; flex: 1;" @click="data.pixel=i;data.save();">
                                <div>{{ i }}</div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                    <v-layout :style="{'padding-top':size * 0.2 + 'px'}" align-center justify-center row wrap>
                        <v-flex xs2>
                            <div :style="{'font-size':size * 0.3+'px'}">截图:</div>
                        </v-flex>
                        <v-flex style="display: flex;" xs10>
                            <v-btn v-for="i in ['png', 'svg']" :key="i" :color="data.snapt == i?'primary':''"
                                   :height="size * 0.8" :style="{'font-size':size * 0.3+'px'}"
                                   depressed
                                   style="text-transform: none; min-width: 0%; flex: 1;" @click="data.snapt=i;data.save();">
                                <div>{{ i.toUpperCase() }}</div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                    <v-layout :style="{'padding-top':size * 0.2 + 'px'}" align-center justify-center row wrap>
                        <v-flex xs2>
                            <div :style="{'font-size':size * 0.3+'px'}">录制:</div>
                        </v-flex>
                        <v-flex style="display: flex;" xs10>
                            <v-btn v-for="i in ['gif', 'apng', 'pngs']" :key="i" :color="data.filmt == i?'primary':''"
                                   :height="size * 0.8" :style="{'font-size':size * 0.3+'px'}"
                                   depressed
                                   style="text-transform: none; min-width: 0%; flex: 1;" @click="data.filmt=i;data.save();">
                                <div>{{ i.toUpperCase() }}</div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                    <v-layout :style="{'padding-top':size * 0.2 + 'px', 'padding-bottom':size * 0.2 + 'px'}" align-center justify-center row
                              wrap>
                        <v-flex xs2>
                            <div :style="{'font-size':size * 0.3+'px'}">间隔:</div>
                        </v-flex>
                        <v-flex style="display: flex;" xs10>
                            <v-btn v-for="i in [2, 3, 4, 5, 6, 10]" :key="i" :color="data.delay == i?'primary':''"
                                   :height="size * 0.8" :style="{'font-size':size * 0.3+'px'}"
                                   depressed
                                   style="text-transform: none; min-width: 0%; flex: 1;" @click="data.delay=i;data.save();">
                                <div>{{ i }}</div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-bottom-sheet>
        <v-bottom-sheet v-model="colord" :retain-focus="false" hide-overlay no-click-animation persistent>
            <v-card flat style="margin: auto; touch-action: none; user-select: none;">
                <v-container :style="{width:Math.min(size * 8, width) + 'px', height:size * 3.6 + 32 + 'px', 'padding-top': size * 0.3 + 'px'}" fluid grid-list-md
                             text-xs-center>
                    <v-layout row wrap>
                        <v-flex v-for="item in colort" :key="item" :style="{padding:size * 0.06 + 'px'}" xs3>
                            <v-btn :color="colors[item]" :height="size" :ripple="false" block depressed
                                   style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" @click="color = item;">
                                <v-icon v-show="color==item" :size="size * 0.8">colorize</v-icon>
                            </v-btn>
                        </v-flex>
                        <v-flex :style="{padding:size * 0.06 + 'px'}" xs3>
                            <v-btn :height="size" :ripple="false" block depressed
                                   style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" @click="color = 'Core';">
                                <v-icon v-show="color=='Core'" :size="size * 0.8">crop_din</v-icon>
                                <div v-show="color!='Core'" :style="{'font-size':size * 0.4+'px'}">
                                    底色
                                </div>
                            </v-btn>
                        </v-flex>
                        <v-flex :style="{padding:size * 0.06 + 'px'}" xs3>
                            <v-btn :height="size" :ripple="false" block depressed
                                   style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" @click="color = 'remove';">
                                <v-icon v-show="color=='remove'" :size="size * 0.8">block</v-icon>
                                <div v-show="color!='remove'" :style="{'font-size':size * 0.4+'px'}">
                                    移除
                                </div>
                            </v-btn>
                        </v-flex>
                        <v-flex :style="{padding:size * 0.06 + 'px'}" xs3>
                            <v-btn :height="size" :ripple="false" block color="success"
                                   depressed style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;"
                                   @click="reset">
                                <div :style="{'font-size':size * 0.4+'px'}">
                                    重置
                                </div>
                            </v-btn>
                        </v-flex>
                        <v-flex :style="{padding:size * 0.06 + 'px'}" xs3>
                            <v-btn :height="size" :ripple="false" block color="error"
                                   depressed style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;"
                                   @click="clear">
                                <div :style="{'font-size':size * 0.4+'px'}">
                                    清空
                                </div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card>
        </v-bottom-sheet>
        <v-dialog v-model="scriptd" :width="Math.min(size * 8, width)">
            <v-card>
                <v-card-title style="text-transform: none;">
                    <div :style="{'font-size':size * 0.4+'px'}">
                        场景:
                    </div>
                </v-card-title>
                <v-card-text style="text-transform: none; padding-bottom: 0%;">
                    <v-textarea v-model="scene" :style="{'font-size':size / 3 + 'px', 'line-height':size / 2 + 'px'}" flat
                                hide-details no-resize
                                outlined rows="2" solo>
                    </v-textarea>
                </v-card-text>
                <v-card-title style="text-transform: none;">
                    <div :style="{'font-size':size * 0.4+'px'}">
                        动作:
                    </div>
                </v-card-title>
                <v-card-text style="text-transform: none;">
                    <v-flex style="display: flex;" xs12>
                        <v-btn :height="size * 0.8" color="success" depressed style="flex: 1;" @click="tap('expand')">
                            <div :style="{'font-size':size/3+'px'}">展开</div>
                        </v-btn>
                        <v-btn :height="size * 0.8" color="error" depressed style="flex: 1;" @click="tap('clear')">
                            <div :style="{'font-size':size/3+'px'}">清空</div>
                        </v-btn>
                    </v-flex>
                    <v-textarea v-model="action" :style="{'font-size':size / 3 + 'px', 'line-height':size / 2 + 'px'}" flat
                                hide-details no-resize
                                outlined rows="6" solo>
                    </v-textarea>
                </v-card-text>
                <v-card-actions>
                    <v-layout row style="margin: 0%;" wrap>
                        <v-flex d-flex xs12>
                            <v-btn :height="size * 0.8" block text @click="scriptd = false;">
                                <div :style="{'font-size':size/3+'px'}">确定</div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog v-model="shared" :width="Math.min(size * 8, width)" eager>
            <v-card>
                <v-card-title style="text-transform: none;">
                    <div :style="{'font-size':size * 0.4+'px','padding-top':size/8+'px'}">
                        分享链接:
                    </div>
                </v-card-title>
                <v-card-actions>
                    <v-layout row style="margin: 0%;" wrap>
                        <v-flex d-flex xs12>
                            <v-textarea id="link" v-model="link"
                                        :style="{'font-size':size / 3 + 'px', 'line-height':size / 2 + 'px'}" flat
                                        hide-details outlined solo>
                            </v-textarea>
                        </v-flex>
                        <v-flex d-flex xs6>
                            <v-btn :height="size * 0.8" block text @click="tap('open')">
                                <div :style="{'font-size':size/3+'px'}">打开</div>
                            </v-btn>
                        </v-flex>
                        <v-flex d-flex xs6>
                            <v-btn ref="copy" :height="size * 0.8" block data-clipboard-target="#link"
                                   text @click="shared = false;">
                                <div :style="{'font-size':size/3+'px'}">复制</div>
                            </v-btn>
                        </v-flex>
                    </v-layout>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</v-app>