<v-bottom-sheet v-model="show" v-resize="resize">
    <v-card style="margin: auto; touch-action: none; user-select: none;" text>
        <v-container :style="{width:Math.min(width, height * 0.6) + 'px'}" fluid grid-list-md text-xs-center>
            <v-layout align-center justify-center row wrap>
                <v-slider
                        v-model="preferance.frames"
                        always-dirty
                        dense
                        label="帧数"
                        max="60"
                        min="1"
                        thumb-label="always"
                ></v-slider>
            </v-layout>
            <v-layout align-center justify-center row wrap>
                <v-slider
                        v-model="preferance.sensitivity"
                        always-dirty
                        dense
                        label="灵敏"
                        max="100"
                        min="1"
                        thumb-label="always"
                ></v-slider>
            </v-layout>
        </v-container>
    </v-card>
</v-bottom-sheet>
