<v-bottom-sheet v-model="show" v-resize="resize" overlay-opacity="0">
    <v-card style="margin: auto; touch-action: none; user-select: none;" text>
        <v-container :style="{width:Math.min(width, height * 0.6) + 'px'}" fluid grid-list-md text-xs-center>
            <v-layout :style="{'padding-bottom':size * 0.2 + 'px'}" row wrap>
                <v-flex v-for="(item, index) in colors" v-show="index!=='Gray'" :key="index" :style="{padding:size * 0.06 + 'px'}"
                        xs3>
                    <v-btn :color="item" :height="size" :style="{'font-size':size / 3 + 'px'}" block depressed
                           @click="tap(index)">{{ index[0] }}
                    </v-btn>
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
    <v-bottom-sheet v-model="colord">
        <v-card flat style="margin: auto; touch-action: none; user-select: none;">
            <v-container :style="{width:Math.min(size * 8, width) + 'px'}" fluid grid-list-md text-xs-center>
                <v-layout row wrap>
                    <v-flex v-for="item in palette" :key="item" :style="{padding:size * 0.06 + 'px'}" xs2>
                        <v-btn :color="item" :height="size" block depressed
                               style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" @click="color(item);">
                            {{ match(item) }}
                        </v-btn>
                    </v-flex>
                    <v-flex xs10>
                        <v-color-picker v-model="colorv" flat hide-canvas hide-inputs
                                        style="width: 100%;"></v-color-picker>
                    </v-flex>
                    <v-flex :style="{padding:size * 0.06 + 'px'}" xs2>
                        <v-btn :color="colorv" :height="size" block depressed
                               style="min-width: 0%; min-height: 0%; margin: 0%; padding: 0%;" @click="color(colorv);">
                            {{ match(colorv) }}
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-bottom-sheet>
</v-bottom-sheet>